asgiref==3.4.1
atomicwrites==1.4.0
attrs==21.2.0
certifi==2021.10.8
charset-normalizer==2.0.7
click==8.0.3
colorama==0.4.4
defusedxml==0.7.1
falcon==3.0.1
h11==0.12.0
httpie==2.6.0
idna==3.3
iniconfig==1.1.1
marshmallow==3.12.1
packaging==21.2
pluggy==1.0.0
py==1.10.0
Pygments==2.10.0
pyparsing==2.4.7
PySocks==1.7.1
pytest==6.2.5
requests==2.26.0
requests-toolbelt==0.9.1
toml==0.10.2
urllib3==1.26.7
uvicorn==0.15.0
